{% extends 'base.html' %}

{% block content %}
<ul id="logs"></ul>
<script>
    const socket = io();
    const logs = document.getElementById('logs');
    const status = document.getElementById('status');
    const html = document.documentElement;
    const connected = 'Connected';
    const title_connected = " - Connected"
    const disconnected = 'Disconnected';
    const keep_last_lines = 1000;

    socket.on('update', (msg, refresh) => {
        if (refresh)
            logs.innerHTML = '';
        let should_scroll = refresh || (html.scrollHeight - html.scrollTop - html.clientHeight < 1);

        lines = msg.split('\n');
        for (const line of lines) {
            const log = document.createElement('pre');
            log.innerHTML = line;
            logs.appendChild(log);
        }
        while (logs.children.length > keep_last_lines)
            logs.removeChild(logs.firstChild);

        if (should_scroll)
            window.scrollTo(0, document.body.scrollHeight);
    });

    socket.on('connect', () => {
        status.innerHTML = connected;
        status.classList.add('active');
        document.title += title_connected;
    });
    socket.on('disconnect', () => {
        status.innerHTML = disconnected
        status.classList.remove('active');
        document.title = document.title.replace(title_connected, "")
    });
</script>
{% endblock %}